<div class="container w-50 mt-5 mx-auto p-5">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question"  class="form-control mb-3" required>
    <input type="submit" value="Ask!" class="btn btn-warning">
  </form>
</div>
